@font-face {
  font-family: "Klavika Regular";
  src: url("assets/font/klavika-regular-webfont.woff");
}
@font-face {
  font-family: "Klavika Light";
  src: url("assets/font/klavika-light-webfont.woff");
}

.container-carousel {
  width: 100%;
  background-color: #000;
}

.carousels {
  height: 100%;
  position: relative;
}

@keyframes floatText {
  0% {
    top: 0;
    animation-timing-function: ease-in;
  }

  33% {
    top: -10px;
    animation-timing-function: ease-out;
  }

  66% {
    top: 0;
    animation-timing-function: ease-in;
  }

  100% {
    top: -10px;
    animation-timing-function: ease-in;
  }
}

@keyframes floatBubble {
  0% {
    top: 180px;
    animation-timing-function: ease-in;
  }

  33% {
    top: 200px;
    animation-timing-function: ease-out;
  }

  66% {
    top: 180px;
    animation-timing-function: ease-in;
  }

  100% {
    top: 200px;
    animation-timing-function: ease-in;
  }
}

#introductionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

img#introductionImage {
  position: absolute;
  margin: auto;
  width: 3%;
  box-shadow: 10px 10px 50px #ccc;
  top: 30%;
  left: 47%;
  animation: floatBubble 2s;
  animation-iteration-count: 1;
  transition: transform 0.2s;
}

.introMessageSection {
  display: flex;
  justify-content: center;
}

#introMessage1,
#introMessage2 {
  position: relative;
  color: #fff;
  padding: 0;
  font-family: "Klavika Light";
}

#introMessage1 {
  animation: floatText 2s;
  animation-iteration-count: 1;
}

@keyframes slide {
  100% {
    left: 0;
  }
}
#introMessage2 {
  transition: 1s;
  left: -10px;
  animation: slide 2s forwards;
}

#siteUrl {
  position: absolute;
  text-decoration: underline;
  top: 315px;
  left: 1365px;
  font-size: 10px;
}

#nextDiv {
  overflow: hidden;
  position: relative;
  height: 100%;
  display: none;
  background-image: url("assets/images/background.jpg");
  background-repeat: no-repeat;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#divSlide {
  height: 100%;
  position: absolute;
  color: #fff;
  font-size: 34px;
  text-decoration: underline;
}

#slideMessage {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 320px;
  padding: 0 15px;
  font-family: "Klavika Regular";
  text-decoration: underline;
}

.disclaimer0,
.disclaimer1,
.disclaimer2,
.disclaimer3,
.disclaimer4,
.disclaimer5,
.disclaimer6 {
  font-family: "Klavika Light";
  font-size: 10px;
  position: absolute;
  width: 310px;
}

.disclaimer0 {
  left: 15px;
  bottom: 95px;
}

.disclaimer1 {
  left: 15px;
  bottom: 80px;
}

.disclaimer2 {
  top: 300px;
  left: 1315px;
}
.disclaimer3 {
  top: 315px;
  left: 1250px;
}
.disclaimer4 {
  top: 335px;
  left: 1270px;
}
.disclaimer5 {
  top: 335px;
  left: 1350px;
}
.disclaimer6 {
  top: 335px;
  left: 1435px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -80px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.logo-image {
  position: absolute;
  width: 70px;
  height: 60px;
  bottom: 0;
  right: 20px;
}

.btn-group {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.btn-group button {
  background-color: transparent;
  padding: 5px 5px;
  border-style: dotted;
  color: white;
  cursor: pointer;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button.active,
.btn-group button:hover {
  background-color: #fff;
  color: #333;
}
